/* Defining colors, that will be needed thoughout the css file */
:root{
  --ButtonColor: rgba(238,128,51,1);
  --ButtonColorLight: rgba(238,128,51,0.6);
  --BlueColor: rgba(31,94,142,1);
  --scrollbarColor: rgba(238,128,51,0.4);
  --FBColor: rgba(24,119,242,1);
}

/* font-family, font-style, and font-weight have been copied from the style.css file given */
body{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}
 /*-----------------------------styling the top section-------------------------- */
#top_info .card{
   border-width: 2px;
   border-radius: 6px/6px;
   padding-top: 10px;
   background-color: var(--BlueColor);
 }

#top_info h{
  color: var(--ButtonColor);
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}

#top_info ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
font-size: 14px;
}

#top_info li{
   float: left;
   color: #ffffff;
}
#top_info li a{
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
#top_info li a:hover{
color: #DCDCDC;
}

#top_info button{
display: inline;
background-color:#ffffff;
cursor: pointer;
color: var(--FBColor);
border:none;
border-radius: 6px/6px;
outline: none !important;
font-weight: bold;
width: 130px;
height: 24px;
margin: 0px 5px 0px 5px;
}

#top_info button:hover{
  background-color:#DCDCDC;
}

#top_info .fa-facebook-square{
  color: var(--FBColor);
  margin: 5px;
}

/* ------------------------End of styling the top section--------------------------- */

/*------------------ Styling the item information table section---------------------- */
#item_list{
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
  font-style: normal;
  font-weight: normal;
}
#item_list .card{
  border: none;
  height: 575px;
}
/*Styling the scroll bar of the item information table */
#item_list .my-custom-scrollbar {
position: relative;
height: 600px;
overflow: auto;
overflow-x:hidden;
overflow-y:scroll;
}
#item_list .table-wrapper-scroll-y {
display: block;
}
#item_list .my-custom-scrollbar::-webkit-scrollbar {
  width:10px;
}
#item_list .my-custom-scrollbar::-webkit-scrollbar * {
  background:transparent;
}
#item_list .my-custom-scrollbar::-webkit-scrollbar-thumb {
  background:var(--scrollbarColor) !important;
}
/* End of styling the scroll bar of the item information table */

#item_list .table h1{
  color: var(--BlueColor);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#item_list .table h1:hover{
  color: var(--ButtonColor);
}

#item_list .table h2{
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
}
#item_list .table p{
    font-weight: normal;
    font-size:12px;
    font-weight: bold;
}

#item_list .table tr {
  background-image: linear-gradient(#FFFFFF,#FFFFFF,#E0E0E0);
}
#item_list .table td{
  width: 78%;
}

/* buttonclass has been created by javascript code, so this is not in the html file, you can find it on the GenerateTable.js file */
#item_list .buttonClass{
  text-align: center;
  margin: 20px;
}
#item_list .table button{
  background-color: var(--ButtonColor);
  border: none;
  border-radius: 6px/6px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 14px;
  height: 28px;
  outline: none !important;
}
#item_list .table button:active {
  transform: translateY(4px);
}
#item_list .table button:hover{
    background-color: var(--ButtonColorLight);
}
/*------------------ End of tyling the item information table section---------------------- */
